<h3>Choose entity type to export</h3>
<div>
    <form method="get" action="{{ url_for('api.export')}}">
        <select class="form-control mb-3" name="entity_type" id="entity_type">
            <option hidden disabled selected value> -- select entity type -- </option>
            <option value="all">All</option>
            <option value="song">Song</option>
            <option value="phrase">Phrase</option>
            <option value="word_group">Word Group</option>
        </select>
        <input type="submit" class="btn btn-primary" id="export_btn" value="Export">
    </form>
</div>