<table id="songs" class="display dataTable">
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Author</th>
        <th>Creation Date</th>
    </thead>
    <tbody>
        {% for song in songs %}
        <tr onclick="load_ajax_url('{{ url_for('ajax.get_song_text')}}?song_id={{ song[0] }}')">
            <td>{{ song[0]}}</td>
            <td>{{ song[3]}}</td>
            <td>{{ song[1]}}</td>
            <td>{{ song[2]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    $(document).ready(function() {
        $('#songs').DataTable();
    } );
</script>