<table id="words" class="display">
    <thead>
        <th>Word</th>
        <th>count</th>
    </thead>
    <tbody>
        {% for word in words %}
        <tr onclick="get_occurrences('{{word[0]}}')">
            <td>{{word[0]}}</td>
            <td>{{word[1]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    $(document).ready(function() {
        $('#words').DataTable();
    } );

    function get_occurrences(word){
        load_ajax_url(`{{ url_for('ajax.get_occurrences')}}`, {song_id:$("#song_context").val(), word:word});
    }

</script>